@import "../../master.scss";

.learn {
   margin-top: 10px;
   color: $black;
   font-weight: 500;
   transition: .2s all;
   display: block;

   &:hover {
      color: $accent;
      // transform: translateY(-1px);
   }
}
