$about_height: 400px;

@import "../../master.scss";


.about {
   .big {
      width: 100vw;
      max-width: 100%;
      position: absolute;
      background: black;
      height: $about_height;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 0;
   }

   .lead {
      font-weight: 700;
      font-size: 50px;
   }



   .rest {
      padding-top: 440px;
      padding-bottom: 40px;
      margin: 0 40px;


      .lead {
         font-weight: 500;
         font-size: 24px;
         // text-align: center;
         margin-bottom: 40px;
         line-height: 40px;

      }

      .info {
         line-height: 25px;
         color: $text_grey;
         margin: 60px 0;
      }

      .grid-2x {
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-gap: 40px;
      }

      .grid-1-2 {
         display: grid;
         grid-template-columns: 1fr 2fr;
         // grid-gap: 40px;
      }

      .about-col {
         display: grid;
         grid-template-columns: 1fr 2fr;
         margin: 20px 0;
      }

      .grid-3x {
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
         grid-gap: 40px;
      }

      .title, .item {
         margin: 10px 0;
      }

      .title {
         font-weight: 500;
      }

      .item {
         color: $text_grey;
      }
   }



}
