$about_height: 400px;

@import "../../master.scss";


.about {
   .big {
      width: 100vw;
      max-width: 100%;
      position: absolute;
      background-color: #202020;
      height: $about_height;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 0;
      // background-image: url("./face2.png");
      background-repeat:no-repeat;
      background-size:contain;
      background-position:center;

      img {
         height: 100%;
         animation-name: fade;
         animation-duration: 3s;
         animation-fill-mode: forwards;
         animation-timing-function: ease-out;
      }

      @keyframes fade {
         0% {
            opacity: 0;
         }

         100% {
            opacity: 1;
            transform: translateY(0px);
         }
      }
   }

   .lead {
      font-weight: 700;
      font-size: 50px;
      margin-top: -6px;
   }



   .rest {
      padding-top: 440px;
      padding-bottom: 40px;
      margin: 0 40px;


      .lead {
         font-weight: 500;
         font-size: 24px;
         // text-align: center;
         margin-bottom: 40px;
         line-height: 40px;

      }

      .info {
         line-height: 25px;
         color: $text_grey;
         margin: 60px 0;
      }

      .grid-2x {
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-gap: 40px;
      }

      .grid-1-2 {
         display: grid;
         grid-template-columns: 1fr 2fr;
         // grid-gap: 40px;
      }

      .about-col {
         display: grid;
         grid-template-columns: 1fr 2fr;
         margin: 20px 0;
      }

      .grid-3x {
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
         grid-gap: 40px;
      }

      .title, .item {
         margin: 10px 0;
      }

      .title {
         font-weight: 500;
      }

      .item {
         color: $text_grey;
      }
   }



}
