@import "../../master.scss";


.projects-container {
   display: flex;
   padding: 40px;
   transition: 1s all;

   .sidebar {
      width: 200px;

      .title {
         color: $black;
         font-weight: 600;
         margin: 20px 0;

      }


      .item {
         margin: 20px 0;
         cursor: pointer;
         transition: .2s all;
         color: $text_grey;

         &:hover {
            color: black;
         }
      }

      .selected {
         color: $black;
      }

   }

   .projects-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      transition: 1s all;
      width: 100%;

      @media only screen and (max-width: 750px) {
         grid-template-columns: 1fr;

      }

   }


}
