
.mainstage {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 400px;
   height: 50vh;
   flex-direction: column;

   .lead {
      font-size: 45px;
      font-weight: 600;
      margin-bottom: 20px;
      animation-name: lead-animation;
      animation-duration: 1s;
   }
   @keyframes lead-animation {
      0% {
         opacity: 0;
         transform: translateY(20px);
      }

      100% {
         opacity: 1;
         transform: translateY(0px);
      }
   }

   .sublead {
      opacity: 0;
      font-size: 20px;
      color: #999;
      animation-name: lead-animation;
      animation-duration: 1s;
      animation-fill-mode: forwards;


   }
}



.writings {
   padding: 120px 40px;

   .title {
      font-weight: 600;
      font-size: 32px;
      margin-bottom: 20px
   }

   .post {
      margin: 60px 0;
      .date {
         color: #999;
         margin: 10px 0;
      }

      .post-title {
         font-size: 24px;
         margin: 10px 0;
      }

      .teaser {
         margin: 10px 0;
         color: #999;
      }
   }
}
