@import "../../master.scss";

header {
   width: 100%;
   background: white;
   border-bottom: 1px solid $background_grey;

   .inner {
      padding: 20px 40px;
      max-width: $max_width;
      margin: auto;
      box-sizing: border-box;
   }
}

a {
   font-weight: 400;
   color: $black;
   text-decoration: none;
   transition: .2s all;
}
.left {
   font-weight: 600;
}

.right {
   float: right;
   color: $text_grey;
   padding-left: 20px;
   font-size: 15px;
}

.right:hover {
   color: $black;
}
