
header {
   width: 100%;
   background: white;


   border-bottom: 1px solid #FAFBFC;

   .inner {
      padding: 20px 40px;
      max-width: 1200px;
      margin: auto;
      box-sizing: border-box;
   }



}

a {
   font-weight: 400;
   color: black;
   text-decoration: none;
   transition: .2s all;
}
.left {
   font-weight: 600;
}





.right {
   float: right;
   color: #999;
   padding-left: 20px;
   font-size: 15px;
}

.right:hover {
   color: black;
}
