@import "./master.scss";

//blue color: 0E00FF

.app {
   min-height:100vh;
   position:relative;
   padding-bottom: calc(#{$footer_padding} * 2 + 40px);
}
.max {
   max-width: $max_width;
   margin: auto;
}

h1 {
   font-weight: 600;
   font-size: 32px;
   margin-bottom: 20px
}

h2 {
   font-weight: 500;
   font-size: 30px;
   margin: 15px 0;
}

h3 {
   font-weight: 400;
   font-size: 22px;
   margin: 15px 0;
}
